<html>
  <head>
	<style type="text/css">
	  .appleLinksWhite a {color:#ffffff; text-decoration: none;}
	</style>
  </head>
  <body style="font-family: Helvetica, Arial, sans-serif; font-size: 14px;">
	<p>
	  <a href="http://www.unitedupgrades.com"><img src="http://www.unitedupgrades.com/static/img/unitedupgrades.gif" style="display:block;" width="448" height="51" border="0"/></a>
	</p>
	<p>
	  Hello!
	</p>
	<p>
	  Here are the results for your search from {{ params.from }} to {{ params.to }} between {{ params.start }} and {{ params.end }} from <a href="http://www.unitedupgrades.com">United Upgrades</a>.
	</p>
	<table cellspacing="2" cellpadding="2" border="0" width="100%">
	  {% if results|length == 0 %}
	  <tr><td style="color: #002775;"><p><strong>Sorry, no results were found.  Try different dates, or try searching again midweek.  If all else fails, blame the Continental merger.</strong></p>
		  <p><a href="http://xkcd.com/726/"><img src="http://imgs.xkcd.com/comics/seat_selection.png" style="display:block;" border="0" width="740" height"175"/></a></p>
		  <p style="font-size:10px; text-align:center;">Don't click on the wing.</p>
	  </td></tr>
	  {% endif %}
	  {% for r in results %}
	  {% for entry in r %}
      {% if loop.index0 == 0 %}
	  <tr><td colspan="6" bgcolor="#002775" style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px;"><font color="#ffffff"><strong><span class="appleLinksWhite">{{ entry.prettyDate }}</span></strong></font></td></tr>
	  {% endif %}
	  <tr>
		<td rowspan="{{ 2*(entry.segments|length) - 1 }}">{{ entry.price }}</td>
		{% for i in range(0,entry.segments|length) %}
		{% if i != 0 %}
	  <tr>
		<td colspan="5" align="center" bgcolor="#f0f0f0" style="font-size: 12px;">connecting to</td>
	  </tr>
	  <tr>
		{% endif %}
		<td>{{ entry.segments[i] }}</td>
		<td>{{ entry.departure[i] }}</td>
		<td>{{ entry.depart_time[i] }}</td>
		<td>{{ entry.arrival[i] }}</td>
		<td>{{ entry.arrive_time[i] }}</td>
	  </tr>
	  {% endfor %}
	  {% if loop.last == False %}
	  <tr><td colspan="6" height="1" bgcolor="#a0a0a0" style="height: 1px; padding: 0;"></td></tr>
	  {% endif %}
	  {% endfor %}
	  {% endfor %}
	</table>
	<p style="color: #002775;">A service of <a href="http://labs.alk.io" style="color: #002775;">alkio labs</a></p>
  </body>
</html>
