[submodule "www/static/noty"]
	path = 2014/www/static/noty
	url = git://github.com/needim/noty.git
[submodule "www/static/select2"]
	path = 2014/www/static/select2
	url = git://github.com/ivaynberg/select2.git
